<div>
  <a href="{{claim.OdyseeUrl}}" rel="nofollow noreferrer">View on Odysee</a><br>
  <div class="articleMeta">
    <p><span class="material-icons-outlined" title="Views">visibility</span> {{claim.Views}}</p>
    <p><span class="material-icons-outlined" title="Likes">thumb_up</span> {{claim.Likes}}</p>
    <p><span class="material-icons-outlined" title="Dislilkes">thumb_down</span> {{claim.Dislikes}}</p>
  </div>
</div>