<div>
  <hr>
  <input id="comments__expandBtn" type="checkbox">
  <label class="comments__expandBtn__label" for="comments__expandBtn">
    <h3 class="claimLink">Comments</h3>
    <span class="comments__expandBtn__icon material-icons-outlined"></span>
  </label>
  <div id="comments" class="comments">
    <p id="nojs">
      <a href="{{claim.RelUrl}}?nojs=1">
        Hi! Looks like you have JavaScript turned off. Click here to view comments, keep in mind they may take a bit
        longer to load.
      </a>
    </p>
  </div>
  <div id="spinner" class="center">
    <div class="spinner"></div>
  </div>
</div>
<hr>