<div class="videoDesc">
  {{> 'partials/channel' }}
  <p><b>Shared {{claim.Date}}</b></p>
  <div>
    <input id="expandBtn" type="checkbox">
    <div class="description">{{{claim.Description}}}</div>
    <label for="expandBtn">
      <a></a>
    </label>
  </div>
  <p class="videoDesc__claimId">Claim ID: {{claim.ClaimId}}</p>
</div>