<br><br><br>

<footer>
  <a href="https://codeberg.org/librarian/librarian/wiki">
    <span class="material-icons-outlined">menu_book</span> Documentation
  </a>
  <a href="/static/licenses.html">
    <span class="material-icons-outlined">copyright</span> JavaScript licenses
  </a>
  <a href="https://codeberg.org/librarian/librarian">
    <span class="material-icons-outlined">code</span> Source Code
  </a>
</footer>