<header>
  <a href="/">
    <img src="/static/img/librarian.svg" height="72" class="logo" />
  </a>
  <form action="/search" method="POST">
    <input type="text" placeholder="Search..." name="q" value="{{query.query}}" class="searchBar" />
  </form>
</header>

<br>