<div class="videoDesc">
  {{#with channel}}
  {{> 'partials/channel' }}
  {{/with}}
  {{#if live.Live}}
  <p>
    <b>
      Started streaming 
      <span title="{{live.Time}}">{{live.RelTime}}</span>
    </b>
  </p>
  {{/if}}
  <div>
    <input id="expandBtn" type="checkbox">
    <div class="description">{{{claim.Description}}}</div>
    <label for="expandBtn">
      <a></a>
    </label>
  </div>
  <p class="videoDesc__claimId">Claim ID: {{claim.ClaimId}}</p>
</div>