<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}

  <title>404 - Librarian</title>
</head>

<body>
  {{> 'partials/header' }}

  <main>
    <h2 style="text-align: center;">404 Not Found</h2>
  </main>

</body>

</html>