<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}

  <title>Blocked - Librarian</title>
</head>

<body>
  {{> 'partials/header' }}

  <main>
    <h2 style="text-align: center;">Access to this content has been blocked.</h2>
    <p style="text-align: center;">This is likely due to a request under the Digital Millennium Copyright Act. If you believe this was mistake,
      contact the instance operator.</p>
    <p style="text-align: center;">Claim ID: {{claim.ClaimId}}</p>
  </main>

</body>

</html>