<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}

  <style>
    code {
      display: block;
      padding: 0.5em;
      background-color: #f5f5f5;
      width: 50%;
      margin: 0 auto;
      word-wrap: break-word;
      border-radius: 4px;
      font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    }
    @media (prefers-color-scheme: dark) {
      code {
        background-color: #616161;
        color: white;
      }
    }
  </style>

  <title>Error - Librarian</title>
</head>

<body>
  {{> 'partials/header' }}

  <main>
    <h2 style="text-align: center;">An error occured.</h2>
    <p style="text-align: center;">You may have found a bug in Librarian. If this is a bug, open an issue on <a href="https://codeberg.org/librarian/librarian/issues/new">Codeberg</a>.</p>
    <code>{{err}}</code>
  </main>

</body>

</html>