main {
  margin: 0 15vw;
}

.plyr:fullscreen video {
  max-height: 100%;
}

.plyr,
.videoWrapper,
video {
  position: relative;
  aspect-ratio: 16 / 9;
  max-height: 720px;
  width: 100%;
  background-color: black;
}

.streamOffline {
  border-radius: 4px;
  padding: 8px;
  background-color: #ffe9b4;
}

.videoData {
  display: flex;
  flex-direction: row;
  gap: 24px
}

.videoData__left {
  width: 80%;
}

.videoData__right {
  width: 20%;
}

.videoDesc__meta {
  display: flex;
  gap: 10px;
}

.videoDesc__meta__item-btn div,
.videoDesc__meta__item {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
}

.videoDesc__meta__item-btn a {
  color: black;
}

.videoDesc__meta__item-btn div {
  background-color: #f1f1f1;
  padding: 0.5em;
}

.videoDesc__meta__item-btn div:hover {
  background-color: #e1e1e1;
}

.description p {
  margin: 0
}

.videoDesc__data,
.videoDesc__channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.videoDesc__claimId {
  font-size: 12px;
}

.relVids {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.relVid__link {
  color: #212121;
}

.relVid__thumbnailWrapper {
  padding: 28.125%;
  position: relative;
  box-sizing: border-box;
}

.relVid__thumbnail {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.relVid__duration {
  position: absolute;
  background-color: rgba(35, 35, 35, 0.75);
  color: white;
  border-radius: 2px;
  padding: 2px;
  font-size: 16px;
  right: 0.25em;
  bottom: -0.75em;
}

.relVid__meta {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  justify-content: space-between;
}

@media only screen and (max-width: 812px) {
  main {
    margin: 0;
  }
  .videoDesc__data,
  .videoData {
    flex-direction: column;
    align-items: start;
  }
  .videoDesc__meta {
    align-self: auto;
  }
  .videoData__left,
  .videoData__right {
    width: 100%;
  }
  .videoMeta__thumbs {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-top: -1.75em;
    height: 1.5em;
  }
}

@media (prefers-color-scheme: dark) {
  .relVid__link {
    color: #ffffff;
  }
  .streamOffline {
    background-color: #290164;
  }
}