a {
  color: #0066cc;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.searchBar {
  height: 16px;
  font-size: 14px;
  padding: 0.5em;
  border: none;
  border-bottom: 1px solid #d2d2d2;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  margin: 0 15vw 0 15vw;
}

.plyr,
.videoWrapper {
  position: relative;
  max-height: 640px;
}

.channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.pfpWrapper {
  height: 56px;
}

.pfp {
  border-radius: 100%;
  object-fit: cover;
}

.defaultPfp {
  background-color: lightskyblue;
}

.videoMetaWrapper {
  display: flex;
  flex-direction: row;
}

.videoMeta {
  width: 20%;
}

.description {
  overflow: hidden;
  max-height: 8.5em;
}

#expandBtn {
  display: none;
}

#expandBtn ~ label > a::after {
  content: "Show more";
}

label {
  color: #0066cc;
  text-decoration: underline;
  cursor: pointer;
}

#expandBtn:checked ~ label > a::after {
  content: "Show less";  
}

#expandBtn:checked ~ div {
  overflow: unset;
  max-height: none;
  height: 100%;
}

.claimId {
  font-size: 12px;
}

.videoDesc {
  width: 80%;
}

.comment {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

@media only screen and (max-width: 812px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  main {
    margin: 0;
  }
  .videoMetaWrapper {
    flex-direction: column;
  }
  .videoMeta {
    width: 100%;
  }
  .thumbs {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-top: -1.75em;
    height: 1.5em;
  }
  .footer {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  .logo {
    filter: invert(1) hue-rotate(180deg);
  }
}