header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: middle;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  margin: 0 15vw 0 15vw;
}

.plyr,
.videoWrapper {
  position: relative;
  max-height: 640px;
}

.channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.pfpWrapper {
  height: 56px;
}

.pfp {
  border-radius: 100%;
  object-fit: cover;
}

.defaultPfp {
  background-color: lightskyblue;
}

.videoMetaWrapper {
  display: flex;
  flex-direction: row;
}

.videoMeta {
  width: 20%;
}

.videoDesc {
  width: 80%;
}

.comment {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

@media only screen and (max-width: 812px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  main {
    margin: 0;
  }
  .footer {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  a {
    color: #2196F3
  }
  .logo {
    filter: invert(1) hue-rotate(180deg);
  }
}