<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.video.title}} - Librarian</title>
</head>

<body>
  <h1>Librarian</h1>
  <video poster={{.video.thumbnailUrl}} controls=true width="1280" height="720">
    <source src={{.stream}} type="video/mp4">
  </video>
  <h2>{{.video.title}}</h2>
  <p>{{.video.channel}}</p>
  <p>{{.video.description}}</p>
</body>

</html>