<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="thumbnail" content={{.video.thumbnailUrl}}>
  <meta name="description" content={{.video.description}}>
  <meta name="keywords" content={{range $i, $tag :=.video.tags}}{{$tag}},{{end}}>

  <meta property="og:site_name" content="Librarian">
  <meta property="og:url" content={{.video.url}}>
  <meta property="og:title" content={{.video.title}}>
  <meta property="og:image" content={{.video.thumbnailUrl}}>
  <meta property="og:description" content={{.video.description}}>
  <meta property="og:type" content="video.other">
  <!-- TODO: Support embedding
  <meta property="og:video:url" content="">
  <meta property="og:video:secure_url" content="">
  -->
  <meta property="og:video:type" content="text/html">
  <meta property="og:video:width" content={{.video.video.width}}>
  <meta property="og:video:height" content={{.video.video.height}}>

  <meta name="twitter:card" content="player">
  <meta name="twitter:url" content={{.video.url}}>
  <meta name="twitter:title" content={{.video.title}}>
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content={{.video.thumbnailUrl}}>
  <!-- TODO: Support embedding
  <meta name="twitter:player" content="">
  <meta name="twitter:player:width" content={{.video.video.width}}>
  <meta name="twitter:player:height" content={{.video.video.height}}>
  -->

  <title>{{.video.title}} - Librarian</title>
</head>

<body>
  <h1>Librarian</h1>
  <video poster={{.video.thumbnailUrl}} controls=true width="1280" height="720">
    <source src={{.stream}} type="video/mp4">
  </video>
  <h2>{{.video.title}}</h2>
  <p>{{.video.channel}}</p>
  <p>{{.video.description}}</p>
</body>

</html>